@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var siteName = settings?.Value<string>("siteName") ?? "Onatrix";
    var siteLogotype = settings?.Value<IPublishedContent>("siteLogotype")?.Url() ?? "";
    var officeLocation = settings?.Value<string>("officeLocation") ?? "";

    var headerTwitterLink = settings?.Value<string>("headerTwitterLink") ?? "";
    var headerFacebookLink = settings?.Value<string>("headerFacebookLink") ?? "";
    var headerInstagramLink = settings?.Value<string>("headerInstagramLink") ?? "";

    var headerLink1 = settings?.Value<string>("headerLink1") ?? "";
    var headerLinkText1 = settings?.Value<string>("headerLinkText1") ?? "";
    var headerLink2 = settings?.Value<string>("headerLink2") ?? "";
    var headerLinkText2 = settings?.Value<string>("headerLinkText2") ?? "";
    var headerLink3 = settings?.Value<string>("headerLink3") ?? "";
    var headerLinkText3 = settings?.Value<string>("headerLinkText3") ?? "";
    var headerLink4 = settings?.Value<string>("headerLink4") ?? "";
    var headerLinkText4 = settings?.Value<string>("headerLinkText4") ?? "";

        @* för att göra activ länken och ta bort sista /*@
    var currentPageUrl = Model.Url().TrimEnd('/');
    var headerLink1Trimmed = headerLink1.TrimEnd('/');
    var headerLink2Trimmed = headerLink2.TrimEnd('/');
    var headerLink3Trimmed = headerLink3.TrimEnd('/');
    var headerLink4Trimmed = headerLink4.TrimEnd('/');

}

<header id="header">
    <div class="background-primary">
        <div class="container">
            <div class="text">
                <p>@officeLocation</p>
            </div>
            <div class="social-links">
                 <a href="@headerFacebookLink">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="@headerTwitterLink">
                    <i class="fab fa-twitter"></i>
                </a>
               
                <a href="@headerInstagramLink">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="background-light">
        <div class="container">
            <div class="logo">
                <a href="/"><img src="@siteLogotype" alt="Logo"></a>
            </div>
            <div class="links">
                <a href="@headerLink1" class="@(currentPageUrl == headerLink1Trimmed ? "active" : "")">@headerLinkText1</a>
                <a href="@headerLink2" class="@(currentPageUrl == headerLink2Trimmed ? "active" : "")">@headerLinkText2</a>
                <a href="@headerLink3" class="@(currentPageUrl == headerLink3Trimmed ? "active" : "")">@headerLinkText3</a>
                <a href="@headerLink4" class="@(currentPageUrl == headerLink4Trimmed ? "active" : "")">@headerLinkText4</a>
            </div>
            <div class="search-icon">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>



</header>