
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
   // ViewBag.Title = Model?.Value("pageTitle") ?? null;
   ViewBag.Title = Model?.Value("heroSectionTitle")?? null;
   
    var backgroundImage = Model?.Value<IPublishedContent>("heroBackgroundImage")?.Url() ?? "";
    var signatureImage = Model?.Value<IPublishedContent>("aboutSignatureImage")?.Url() ?? "";
    var weAreImage = Model?.Value<IPublishedContent>("weAreImage")?.Url() ?? "";
    var successImage = Model?.Value<IPublishedContent>("successImage")?.Url() ?? "";

    var projectsProject1Image = Model?.Value<IPublishedContent>("projectsProject1Image")?.Url() ?? "";
    var projectsProject2Image = Model?.Value<IPublishedContent>("projectsProject2Image")?.Url() ?? "";
    var projectsProject3Image = Model?.Value<IPublishedContent>("projectsProject3Image")?.Url() ?? "";
    var projectsProject4Image = Model?.Value<IPublishedContent>("projectsProject4Image")?.Url() ?? "";

}


<section id="heru-slider" class="hero">
    
    <div class="background" style="background-image:url(@backgroundImage);background-size: cover; background-position: 60%">
        <div class="container">
            <div class="hero-content">
                <h1 class="headline">@Model?.Value("heroHeadline")</h1>
                <p class="ingress">@Model?.Value("heroText")</p>
                <div>
                    <a href="@Model?.Value("heroButtonLinkUrl")" class="btn btn-primary">@Model?.Value("heroButtonText")</a>
                </div>
            </div>
        </div>
    </div>      
 
</section>

<section id="about-us" class="about-us">
    <div class="container">
        <div class="content">
            <div class="headline">
                <h6>@Model?.Value("aboutHeadline")</h6>
                <h2>@Model?.Value("aboutSectionTitle")</h2>
            </div>
            <blockquote class="quote">“@Model?.Value("aboutQuote")”</blockquote>
            <p>@Model?.Value("aboutText")</p>
            <div class="signature-container">
                <div class="signature">
                    <img class="signature-image" src="@signatureImage" alr=""/>
                    <div class="clarification">
                        <p class="name">@Model?.Value("aboutSignatureText")</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-container">
            <div class="request-box bg-light">
                <div class="request-text">
                    <h4>Request a call back</h4>
                   
                </div>

                <div class="request-form">
                    <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat</p>

                    @* 
                    @using (Html.BeginUmbracoForm("HandleSubmit", "ContactSurface", FormMethod.Post, new { id = "contact-form" }))
                    {
                        <div class="form-input-group">
                            <input id="name" name="name" type="text" placeholder="Name" class="form-input" value="@ViewData["name"]">
                            <span class="form-input-error@((error_name) ? "form-invalid-input": null)">You must enter your name</span>
                        </div>
                        <div class="form-input-group">
                            <input id="phone" name="phone" type="text" placeholder="Phone" class="form-input" value="@ViewData["phone"]">
                            <span class="form-input-error@((error_phone) ? "form-invalid-input" : null)">You must enter a valid phone number</span>
                        </div>
                        <div class="form-input-group">
                            <input id="email" name="email" type="email" placeholder="Email address" class="form-input" value="@ViewData["email"]">
                            <span class="form-input-error@((error_email) ? "form-invalid-input" : null)">You must enter a valid e-mail address</span>
                        </div>
                        <div class="form-input-group">
                            <select id="dropdown" name="dropdown" class="form-input">
                                <option value="">Financial consulting</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="Maybe later">Maybe later</option>
                            </select>
                            <span class="form-input-error@((error_dropdown) ? "form-invalid-input" : null)">You must select an option</span>
                        </div>
                        <button type="submit" class="form-button btn-submit btn btn-secondary">Submit</button>

                    }

                    @if (TempData["success"] != null)
                    {
                        <div class="success-message">@TempData["Success"]</div>
                    }

                    *@

                </div>
            </div>
        </div>
    </div>
</section>

<section id="we-are" class="we-are">
    <div class="container">
        <div class="content">
            <h2>@Model?.Value("weAreHeadline1Row")</h2>
            <h2 class="h2">@Model?.Value("weAreHeadline2Row")</h2>
            <p>@Model?.Value("weAreText")</p>
            <div>
                <a href="@Model?.Value("weAreButtonLink")" class="btn btn-primary">@Model?.Value("weAreButtonText")</a>
            </div>
        </div>

        <div class="image">
            <img src="@weAreImage" alt="Image of @Model?.Value("weAreHeadline2Row")">
        </div>
    </div>
</section>


<section id="success" class="success">
    <div class="bg-primary">
        <div class="container">
            <h6>@Model?.Value("successHeadline")</h6>
            <h2>@Model?.Value("successTitle")</h2>
            <div class="success-stories">
                <div class="success-story">
                    <h1>@Model?.Value("successStory1Number")</h1>
                    <h5>@Model?.Value("successStory1Text")</h5>
                </div>
                <div class="success-story">
                    <h1>@Model?.Value("successStory2Number")</h1>
                    <h5>@Model?.Value("successStory2Text")</h5>
                </div>
                <div class="success-story">
                    <h1>@Model?.Value("successStory3Number")</h1>
                    <h5>@Model?.Value("successStory3Text")</h5>
                </div>
            </div>
            <div class="image">
                <img src="@successImage" alt="">
            </div>
        </div>
    </div>
</section>

<section id="our-projects" class="our-projects">
    <div class="container">
        <h6>@Model?.Value("projectsHeadline")</h6>
        <h2>@Model?.Value("projectsTitle")</h2>
    </div>
    <div class="projects">
        
        <a href="@Model?.Value("projectsProject1Link")" class="project">
            <div class="image">
                <img src="@projectsProject1Image" alt="Image of @Model?.Value("projectsProject1Headline")">
            </div>
            <div class="bg-primary">
                <h5>@Model?.Value("projectsProject1Headline")</h5>
                <p>@Model?.Value("projectsProject1Text")</p>
            </div>
        </a>

        <a href="@Model?.Value("projectsProject2Link")" class="project">
            <div class="image">
                <img src="@projectsProject2Image" alt="Image of @Model?.Value("projectsProject2Headline")">
            </div>
            <div class="bg-primary-active">
                <div class="info">
                    <h5>@Model?.Value("projectsProject2Headline")</h5>
                    <p>@Model?.Value("projectsProject2Text")</p>
                </div>
                
                <div class="chevron"><i class="fa-solid fa-chevron-right"></i></div>
            </div>
        </a>

        <a href="@Model?.Value("projectsProject3Link")" class="project">
            <div class="image">
                <img src="@projectsProject3Image" alt="Image of @Model?.Value("projectsProject3Headline")">
            </div>
            <div class="bg-primary">
                <h5>@Model?.Value("projectsProject3Headline")</h5>
                <p>@Model?.Value("projectsProject3Text")</p>  
            </div>
        </a>

        <a href="@Model?.Value("projectsProject4Link")" class="project">
            <div class="image">
                <img src="@projectsProject4Image" alt="Image of @Model?.Value("projectsProject4Headline")">
            </div>
            <div class="bg-primary">
                <h5>@Model?.Value("projectsProject4Headline")</h5>
                <p>@Model?.Value("projectsProject4Text")</p>
            </div>
        </a>
    </div>
</section>

@await Html.PartialAsync("partials/static/partners.cshtml")

